body {
    height: 600px;
    background: linear-gradient(180deg, #FFFFFF 0%, #FF5592 100%);
}

.botao-header {
    margin-left: 220px;
}

.caixa-login {
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    width: 770px;
    border-radius: 30px;
    margin-top: 60px;
    margin-left: 250px;
    align-items: center;
    height: 400px;
    justify-content: space-evenly;
}

.linha2 {
    margin-left: 40px;
}

.linha input {
    margin-top: 15px;
}

.linha h3 {
    margin-top: 15px;
}

.caixa-login h2 {
    width: 680px;
}

.caixa-login2 {
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    width: 770px;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 250px;
    align-items: center;
    height: 500px;
    justify-content: space-evenly;
}

.caixa-login2 h2 {
    font-family: 'Barlow';
    font-style: normal;
    font-size: 30px;
    background: linear-gradient(180deg, #FF005B 0%, rgba(0, 0, 0, 0) 174.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -text-fill-color: transparent;
    width: 670px;
}

/* tela3  */
select {
    border-radius: 20px;
    width: 300px;
    height: 40px;
    font-size: 15px;
    padding: 10px;
    margin-top: 15px;
}


.caixa-login3 {
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 30px;
    margin-top: 60px;
    margin-left: 430px;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
}

.caixa-login3 h2 {
    font-family: 'Barlow';
    font-style: normal;
    font-size: 30px;
    background: linear-gradient(180deg, #FF005B 0%, rgba(0, 0, 0, 0) 174.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -text-fill-color: transparent;
    width: 370px;
}

.alinhar {
    align-items: center;
}

.caixa-login4 {
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    width: 450px;
    border-radius: 30px;
    margin-top: 60px;
    margin-left: 90px;
    height: 400px;
    align-items: center;
    justify-content: space-evenly;
}

.caixa-login4 h2 {
    font-family: 'Barlow';
    font-style: normal;
    font-size: 30px;
    background: linear-gradient(180deg, #FF005B 0%, rgba(0, 0, 0, 0) 174.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -text-fill-color: transparent;
    width: 370px;
}

.caixa-login4 h3 {
    margin-top: 15px;
}

.caixa-login4 input {
    margin-top: 15px;
}