*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    height: 40px;
    padding: 10px;
}

.botao-header{
    border-radius: 20px;
    background-color: #FF1F6F;
    padding: 10px;
    color: white;
    width: 100px;
    margin-left: 380px;
    text-decoration: none;
    margin-left: 980px;
}


.icone{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: black;
    margin-left: 10px;
}

.linha-cinza{
    background-color: #dadada;
    height: 1px;
}

.bolinha{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #FF1F6F;
    margin-left: 10px;
}

.linha{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.linha h2{
    padding: 10px;
}