.caixa-login {
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 30px;
    margin-top: 60px;
    margin-left: 430px;
    align-items: center;
    height: 400px;
}

input {
    border-radius: 15px;
    height: 30px;
    width: 300px;
    padding: 5px;
}

.botao-entrar {
    border-radius: 20px;
    background-color: #FF1F6F;
    height: 45px;
    width: 160px;
    color: white;
    font-size: 20px;
}

/* segunda tela */

.caixa-login h2 {
    font-family: 'Barlow';
    font-style: normal;
    font-size: 30px;
    background: linear-gradient(180deg, #FF005B 0%, rgba(0, 0, 0, 0) 174.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -text-fill-color: transparent;
    width: 300px;
}

.caixa-login h3 {
    width: 300px;
}